In [1]:
import pandas as pd

In [2]:
def go(yr, D):
    df1 = pd.read_excel('/Users/leejunki/weather/'+str(yr)+'/'+'_1.xlsx', encoding='euc-kr')
    df2 = pd.read_excel('/Users/leejunki/weather/'+str(yr)+'/'+'_2.xlsx', encoding='euc-kr')
    df3 = pd.read_excel('/Users/leejunki/weather/'+str(yr)+'/'+'_3.xlsx', encoding='euc-kr')
    df4 = pd.read_excel('/Users/leejunki/weather/'+str(yr)+'/'+'_4.xlsx', encoding='euc-kr')
    
    res1 = df1.groupby([df1['지역'], df1['측정소코드'], df1['측정소명'], df1['측정일시']//100],
                       as_index=False).mean()
    res2 = df2.groupby([df2['지역'], df2['측정소코드'], df2['측정소명'], df2['측정일시']//100],
                       as_index=False).mean()
    res3 = df3.groupby([df3['지역'], df3['측정소코드'], df3['측정소명'], df3['측정일시']//100],
                       as_index=False).mean()
    res4 = df4.groupby([df4['지역'], df4['측정소코드'], df4['측정소명'], df4['측정일시']//100],
                       as_index=False).mean()
    
    res1['일시'] = res1['측정일시'] // 100
    res2['일시'] = res2['측정일시'] // 100
    res3['일시'] = res3['측정일시'] // 100
    res4['일시'] = res4['측정일시'] // 100
    
    cols = res1.columns.tolist()
    cols = cols[:3] + [cols[-1]] + cols[3:-1]
    res1 = res1[cols]

    cols = res2.columns.tolist()
    cols = cols[:3] + [cols[-1]] + cols[3:-1]
    res2 = res2[cols]

    cols = res3.columns.tolist()
    cols = cols[:3] + [cols[-1]] + cols[3:-1]
    res3 = res3[cols]

    cols = res4.columns.tolist()
    cols = cols[:3] + [cols[-1]] + cols[3:-1]
    res4 = res4[cols]
    
    res1['일시'] = res1['일시'].astype('int')
    del res1['측정일시']

    res2['일시'] = res2['일시'].astype('int')
    del res2['측정일시']

    res3['일시'] = res3['일시'].astype('int')
    del res3['측정일시']

    res4['일시'] = res4['일시'].astype('int')
    del res4['측정일시']
    
    res = pd.concat([res1, res2, res3, res4])
    res.groupby([res['지역'], res['일시']], as_index=False).mean()
    data = res.groupby([res['지역'], res['일시']], as_index=False).mean()
    data['지역명'] = data.apply(lambda row: row['지역'][:2], axis=1)
    data.groupby([data['지역명'], data['일시']], as_index=False).mean()
    temp = data.groupby([data['지역명'], data['일시']], as_index=False).mean()
    
    del temp['측정소코드']
    temp = temp.replace({"지역명": D})
    print(temp)
    temp.to_csv('/Users/leejunki/weather/finedust'+str(yr)+'.csv', encoding='euc-kr')

In [10]:
def go_csv(yr, D):
    df1 = pd.read_csv('/Users/leejunki/weather/'+str(yr)+'/'+'_1.csv', encoding='euc-kr')
    df2 = pd.read_csv('/Users/leejunki/weather/'+str(yr)+'/'+'_2.csv', encoding='euc-kr')
    df3 = pd.read_csv('/Users/leejunki/weather/'+str(yr)+'/'+'_3.csv', encoding='euc-kr')
    df4 = pd.read_csv('/Users/leejunki/weather/'+str(yr)+'/'+'_4.csv', encoding='euc-kr')

    res1 = df1.groupby([df1['지역'], df1['측정소코드'], df1['측정소명'], df1['측정일시']//100],
                       as_index=False).mean()
    res2 = df2.groupby([df2['지역'], df2['측정소코드'], df2['측정소명'], df2['측정일시']//100],
                       as_index=False).mean()
    res3 = df3.groupby([df3['지역'], df3['측정소코드'], df3['측정소명'], df3['측정일시']//100],
                       as_index=False).mean()
    res4 = df4.groupby([df4['지역'], df4['측정소코드'], df4['측정소명'], df4['측정일시']//100],
                       as_index=False).mean()

    res1['일시'] = res1['측정일시'] // 100
    res2['일시'] = res2['측정일시'] // 100
    res3['일시'] = res3['측정일시'] // 100
    res4['일시'] = res4['측정일시'] // 100

    cols = res1.columns.tolist()
    cols = cols[:3] + [cols[-1]] + cols[3:-1]
    res1 = res1[cols]

    cols = res2.columns.tolist()
    cols = cols[:3] + [cols[-1]] + cols[3:-1]
    res2 = res2[cols]

    cols = res3.columns.tolist()
    cols = cols[:3] + [cols[-1]] + cols[3:-1]
    res3 = res3[cols]

    cols = res4.columns.tolist()
    cols = cols[:3] + [cols[-1]] + cols[3:-1]
    res4 = res4[cols]

    res1['일시'] = res1['일시'].astype('int')
    del res1['측정일시']

    res2['일시'] = res2['일시'].astype('int')
    del res2['측정일시']

    res3['일시'] = res3['일시'].astype('int')
    del res3['측정일시']

    res4['일시'] = res4['일시'].astype('int')
    del res4['측정일시']

    res = pd.concat([res1, res2, res3, res4])
    res.groupby([res['지역'], res['일시']], as_index=False).mean()
    data = res.groupby([res['지역'], res['일시']], as_index=False).mean()
    data['지역명'] = data.apply(lambda row: row['지역'][:2], axis=1)
    data.groupby([data['지역명'], data['일시']], as_index=False).mean()
    temp = data.groupby([data['지역명'], data['일시']], as_index=False).mean()

    del temp['측정소코드']
    temp = temp.replace({"지역명": D})
    temp.to_csv('/Users/leejunki/weather/finedust'+str(yr)+'.csv', encoding='euc-kr')

In [ ]:
yr = 2002

In [3]:
A = [11, 26, 27, 28, 29, 30, 31, 36, 41, 42, 43, 44, 45, 46, 47, 48, 49]
B = ['서울','부산','대구','인천','광주','대전','울산','세종','경기','강원','충북','충남',
    '전북','전남','경북','경남','제주']
D = dict(zip(B, A))

In [5]:
f = {'2002':'xlsx','2003':'xlsx','2004':'xlsx','2005':'xlsx','2006':'xlsx','2007':'xlsx',
     '2008':'xlsx','2009':'xlsx','2010':'xlsx','2011':'xlsx','2012':'xlsx','2013':'xlsx',
     '2014':'csv','2015':'csv','2016':'csv','2017':'xlsx','2018':'xlsx'}

In [4]:
f = {'2002':'xlsx'}

In [5]:
for yr, form in f.items():
    if form == "xlsx":
        go(yr, D)
    else:
        go_csv(yr, D)

      지역명        일시         SO2          CO          O3         NO2  \
0      42  20020101   -8.319421 -398.983750   -8.295175 -208.114875
1      42  20020102    0.005650 -399.017917    0.031042 -208.115425
2      42  20020103  -41.618921 -398.795417   -8.298604 -203.946554
3      42  20020104  -99.892167 -398.729583    0.025379 -199.781604
4      42  20020105  -99.894854 -398.875000   -8.297483 -208.113283
5      42  20020106  -99.894312 -398.732083   -8.300321 -199.785167
6      42  20020107  -99.894892 -398.950417    0.029525 -283.040717
7      42  20020108  -54.106204 -398.995000   -8.296196 -407.917771
8      42  20020109    0.007158 -398.792083   -8.300183 -407.914288
9      42  20020110    0.010600 -498.617500    0.024025 -599.396233
10     42  20020111    0.011154 -456.847500    0.025050 -407.913025
11     42  20020112 -108.212721 -523.648333    0.027617 -599.395633
12     42  20020113    0.010013 -548.932917    0.028354 -599.396092
13     42  20020114   -4.154283 -453.075417   -4.137054 -270.547692
14     42  20020115   -4.152571 -402.793750   -4.142625 -203.945979
15     42  20020116    0.006838 -399.192500    0.030346 -208.115521
16     42  20020117   -8.319379 -407.465000  -24.949775 -266.390017
17     42  20020118    0.005933 -407.433333 -199.784654 -199.788717
18     42  20020119    0.006604 -407.270000 -199.785383 -199.786937
19     42  20020120    0.007092 -399.033333 -199.787150 -199.787088
20     42  20020121    0.008696 -399.158750 -199.778171 -199.789054
21     42  20020122    0.006871 -399.187500    0.038592 -216.441929
22     42  20020123  -16.642346 -444.960833  -16.618546 -224.765258
23     42  20020124    0.007742 -444.799583    0.026813 -199.785671
24     42  20020125    0.006942 -398.787083    0.024208 -199.782508
25     42  20020126    0.007908 -398.752083    0.022717 -199.783088
26     42  20020127    0.009388 -398.867083    0.028271 -199.786125
27     42  20020128    0.006533 -448.958333    0.033888 -199.788271
28     42  20020129    0.006558 -440.637917    0.029033 -208.112050
29     42  20020130    0.006567 -419.748750    0.027342 -208.111271
...   ...       ...         ...         ...         ...         ...
5810   43  20021202 -249.744906 -248.661458 -499.494208 -249.729740
5811   43  20021203 -249.744354 -248.517708 -499.494031 -249.727260
5812   43  20021204 -364.214406 -363.359375 -613.964573 -364.198750
5813   43  20021205 -749.249260 -749.106250 -749.248458 -749.249000
5814   43  20021206 -301.778490 -249.245833 -249.742240 -249.736292
5815   43  20021207 -749.249490 -748.979167 -749.246625 -749.247885
5816   43  20021208 -395.435396 -249.103125 -249.740969 -249.736510
5817   43  20021209 -665.999083 -665.571875 -530.707281 -530.711094
5818   43  20021210 -260.152542 -249.117708 -249.733542 -249.736865
5819   43  20021211 -291.371219 -249.221875 -249.735021 -249.735781
5820   43  20021212 -249.745344 -249.267708 -249.737813 -249.734073
5821   43  20021213 -260.151115 -249.067708 -249.741292 -249.731010
5822   43  20021214 -249.744677 -248.883333 -249.741406 -249.731281
5823   43  20021215 -249.743823 -248.759375 -249.743125 -249.730771
5824   43  20021216 -249.743687 -248.754167 -249.741104 -249.732104
5825   43  20021217 -260.150104 -248.852083 -249.737687 -249.735396
5826   43  20021218 -249.743625 -248.842708 -249.740906 -249.732021
5827   43  20021219 -249.743990 -259.187500 -249.741875 -249.731115
5828   43  20021220 -249.743677 -248.745833 -249.742979 -249.731885
5829   43  20021221 -249.743271 -248.808333 -249.741219 -249.731979
5830   43  20021222 -260.150802 -249.188542 -249.736438 -249.735979
5831   43  20021223 -249.744656 -249.212500 -249.735052 -249.735990
5832   43  20021224 -249.745802 -249.242708 -249.733885 -249.738083
5833   43  20021225 -270.558719 -270.078125 -270.540552 -270.553313
5834   43  20021226 -322.590354 -270.096875 -270.541917 -270.550583
5835   43  20021227 -561.934042 -519.877083 -520.304979 -520.300583
5836   43  20021228 -426.650104 -425.985417 -426.649854 -426.641583
5837   43  20021229 -249.742927 -248.866667 -249.734250 -249.734646
5838   43  20021230 -249.743521 -248.781250 -249.740677 -249.733000
5839   43  20021231 -249.743823 -248.812500 -249.738948 -249.732438

            PM10
0    -185.175000
1    -231.075000
2    -233.166667
3    -200.050000
4    -288.991667
5    -380.550000
6    -391.800000
7    -380.991667
8    -376.950000
9    -376.312500
10   -356.270833
11   -354.666667
12   -368.383333
13   -401.187500
14   -380.875000
15   -363.920833
16   -226.108333
17   -390.137500
18   -375.162500
19   -378.383333
20   -378.570833
21   -371.879167
22   -372.545833
23   -374.716667
24   -368.925000
25   -374.458333
26   -372.933333
27   -370.850000
28   -377.920833
29   -369.904167
...          ...
5810 -283.552083
5811 -258.229167
5812 -344.437500
5813 -735.812500
5814 -285.572917
5815 -740.395833
5816 -229.145833
5817 -510.333333
5818 -216.864583
5819 -212.187500
5820 -208.822917
5821 -354.437500
5822 -350.729167
5823 -257.187500
5824 -278.364583
5825 -268.291667
5826 -266.218750
5827 -364.510417
5828 -199.125000
5829 -200.875000
5830 -215.656250
5831 -207.447917
5832 -202.187500
5833 -227.052083
5834 -219.947917
5835 -476.593750
5836 -382.020833
5837 -233.708333
5838 -221.958333
5839 -190.875000

[5840 rows x 7 columns]

In [ ]:
res = pd.concat([res1, res2, res3, res4])
data = res.groupby([res['지역'], res['일시']], as_index=False).mean()

In [ ]:
data = res.groupby([res['지역'], res['일시']], as_index=False).mean()

In [ ]:
data.head()

In [ ]:
temp = temp.replace({"지역명": D})

In [ ]:
temp.to_csv('finedust'+str(yr)+'.csv', encoding='euc-kr', index=True)

In [ ]:
temp